<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Checker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Epicodus Postal Service</h2>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
